/* FOOTER */
footer {
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  border: solid white 1px;
}

/* HEADER */

header {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.search input {
  width: 200px;
  height: 40px;
}
.button-search {
  width: 100px;
  height: 40px;
  background-color: red;
  color: white;
  border: solid 1px white;
  border-radius: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
  font-style: oblique;
  font-size: 18px;
}
nav div {
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: stretch;
  color: red;
  margin-top: 100px;
}
nav ul {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

nav li {
  margin: 0px 20px;
  border: solid 1px white;
  padding: 10px;
  border-radius: 5px 10px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  background-color: red;
}

.link-nav {
  text-decoration: none;
  cursor: pointer;
}

.logo > img {
  width: 180px;
  height: 80px;
  border-radius: 10px 5px;
}

.container {
  width: 600px;
  margin: 0 auto;

  margin-top: 30px;
}

/* MAIN */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px 5px;
  text-decoration: none;
}

.img-character {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 10px;
}
.name {
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 10px;
  color: blue;
}
.description {
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-style: oblique;
}
